:host {
    margin-top: 1rem;
    display: block;
}

mat-spinner {
    margin: auto;
}

.livro-imagem {
    width: 100%;
    display: flex;
    justify-content: center;
}

.livro-imagem>img {
    max-width: 50%;
}