<mat-accordion *ngIf="livros.length > 0">
    <mat-expansion-panel *ngFor="let livro of livros">
        <mat-expansion-panel-header>
            id: {{livro.id}}
        </mat-expansion-panel-header>
        <p>titulo:{{livro.titulo}}</p>
        <p>autor:{{livro.autor}}</p>
        <p>numpaginas:{{livro.numpaginas}}</p>
        <mat-action-row>
            <button mat-button color="primary">EDITAR</button>
            <button mat-button color="warn" (click)="onDelete(livro.id)">REMOVER</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1" style="text-align: center;" *ngIf="livros.length <= 0">
    Nenhum livro cadastrado
</p>