<mat-card>
    <mat-form-field>
        <input type="text" matInput placeholder="ID" [(ngModel)]="id" />
    </mat-form-field>

    <mat-form-field>
        <input type="text" matInput placeholder="Título" [(ngModel)]="titulo" />
    </mat-form-field>

    <mat-form-field>
        <input type="text" matInput placeholder="Autor" [(ngModel)]="autor" />
    </mat-form-field>

    <mat-form-field>
        <input type="text" matInput placeholder="Números de páginas" [(ngModel)]="numpaginas" />
    </mat-form-field>

    <button color="primary" mat-raised-button (click)="onAdicionarLivro()">Inserir Livros</button>
</mat-card>